html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Impact, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20rem;
    margin: 0;
    background-color: #1d3348;
}

article {
    margin: 0;
    padding: 1rem 3rem 1rem 3rem;
    background: #eeeeee;
}

footer {
    display: flex;
    margin: 0;
    padding: 1rem 3rem 1rem 3rem;
    justify-content: space-between;
    background: #1d3348;
}

strong {
    font-weight: 500;
    color: darkslategray;
}

th {
    border: 1px black solid;
    background-color: #347792;
    min-height: 10rem;
    min-width: 10rem;
}

td {
    border: 1px black solid;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img, a img {
    display: block;
    max-width: 80%;
    margin: 1rem;
    padding: 0;
}

code {
    margin: 20px 0 20px 0;
    padding-left: 25px;
    background-color: #e7e7e7;
    border-left: 5px solid darkgray;
}

blockquote {
    margin-top: 20px 0 20px 0;
    padding-left: 25px;
    background-color: #e7e7e7;
    border-left: 5px solid darkgray;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: #d67903;
    padding: 1rem 0 1rem 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

h2 {
    border-bottom: 1px solid #d67903;
    padding: 1rem 0 0 0;
    font-size: 1.5em;
    font-weight: 500;
    color: #347792;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
    color: #8ab8c0;
}

.title {
    color: #d67903;
    margin: 0 0 0 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.anchor {
    color: #d67903;
}